header {
    display: block;
    overflow: hidden;
    width: 100%;
    text-align: center;
    line-height: 120px; /* used instead of "height" for vertical-align to work properly */
}
header > span {
    display: inline-block;
    margin: 0px 4% 0px 4%;
    text-align: left;
    line-height: normal;
    vertical-align: middle;
}
#affiliationNo, #schoolCode, #shortAddress {cursor: pointer;}
#affiliationNo:hover, #schoolCode:hover, #shortAddress:hover {text-decoration: underline;}
#headerContactUs a {
    color: inherit;
    text-decoration: none;
}
#headerContactUs a:hover {text-decoration: underline;}
.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
#navbarContainer {
    position: sticky;
    top: 0px;
    border-bottom: 2px solid gainsboro;
}
#navbar {
    overflow: hidden;
    background-color: coral;
}
#navbar > a {
    display: block;
    float: left;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    transition: color 0.1s ease-out, background-color 0.1s ease-out;
}
.dropdownContainer {
    float: left;
    overflow: hidden;
    background-color: white;
}
.dropdownButton {
    font-size: inherit;
    font-family: inherit;
    color: white;
    background-color: coral;
    cursor: pointer;
    border: none;
    padding: 14px 20px;
    transition: color 0.1s ease-out, background-color 0.1s ease-out;
}
.dropdownButton::after {
    margin-left: 4px;
    font-family: "Galvji";
    font-size: 10px;
    content: "▼";
}
.dropdownContent {
    overflow: hidden;
    position: absolute;
    color: inherit;
    background-color: inherit;
    min-width: 200px;
    height: 0px;
    border: 2px solid gainsboro;
    border-bottom: none;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    transition: height 0.15s linear(0 0%, 0 1.8%, 0.01 3.6%, 0.03 6.35%, 0.07 9.1%, 0.13 11.4%, 0.19 13.4%, 0.27 15%, 0.34 16.1%, 0.54 18.35%, 0.66 20.6%, 0.72 22.4%, 0.77 24.6%, 0.81 27.3%, 0.85 30.4%, 0.88 35.1%, 0.92 40.6%, 0.94 47.2%, 0.96 55%, 0.98 64%, 0.99 74.4%, 1 86.4%, 1 100%);
}
.dropdownContent > a {
    display: block;
    color: inherit;
    padding: 14px 20px;
    border-bottom: 2px solid gainsboro;
    text-decoration: none;
    transition: background-color 0.2s ease-out;
}
#navbar > a:hover, .dropdownContent > a:hover {
    color: black;
    background-color: cornsilk;
}
footer {
    display: block;
    position: sticky;
    bottom: 0px;
    overflow: hidden;
    color: white;
    background-color: coral;
    width: 100%;
    height: 200px;
    text-align: center;
}
.footerNavContainer {
    float: left;
    margin: 20px;
}
.footerNavContainer * {
    float: center;
}
.footerNavContainer a {
    display: block;
    color: inherit;
    text-align: left;
    text-decoration: none;
}
.footerNavContainer a:hover {text-decoration: underline;}
.footerNavContainer > button {
    float: left;
    background-color: inherit;
    font-family: inherit;
    margin: 20px 0px 10px;
    font-size: smaller;
    font-weight: 900;
    padding: 0px;
    border: none;
    color: inherit;
}
.footerNavContent {
    display: block;
    list-style: none;
    float: left;
}
.footerNavContent > a {
    display: block;
    float: center;
}
@media (max-width: 1094px), (max-height: 449px) {
    body * {
        display: none;
    }
    body::after {
        font-size: large;
        text-align: center;
        vertical-align: middle;
        content: "This Page is not Mobile-Friendly... Open this Page on a Desktop to view it.";
    }
}