.DS_Store
about/.DS_Store
academics/.DS_Store
admissions/.DS_Store
carousel/.DS_Store
footer/.DS_Store
life/.DS_Store
navigation/.DS_Store
media-support/.DS_Store
media-support/about/.DS_Store
media-support/about/history/.DS_Store
media-support/about/infrastructure/.DS_Store
media-support/academics/.DS_Store
media-support/academics/results/.DS_Store
media-support/academics/results/class-X/.DS_Store
media-support/academics/results/class-XII/.DS_Store
media-support/home-page/.DS_Store
media-support/life/.DS_Store
media-support/life/timings-uniform/.DS_Store
media-support/news-events/.DS_Store
media-support/news-events/circulars/.DS_Store
media-support/news-events/events/.DS_Store
