@font-face {
    font-family: "Galvji";
    src: url("/spsbtp/media-support/galvji.ttc");
}
body {
    font-family: "Galvji", sans-serif;
    margin: 0px;
    color: black;
    background-color: white;
}