/*
    font-family: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro","Fira Mono", "Droid Sans Mono", "Courier New", monospace;
    font-family: system-ui, ui-sans-serif, ui-serif, ui-monospace;
*/
:root {
    --sunset-peach: rgb(233, 150, 122);
    --deep-coral: rgb(205, 92, 68);
    --dark-grey: rgb(40, 40, 40);

    --body-colour: white;
    --text-colour: black;
    --theme-colour: coral;
    --browser-theme-colour: peachpuff;
    --hover-colour: cornsilk;
    --link-colour: blue;
    --shadow-colour: rgba(0, 0, 0, 0.2);

    --box-radius: 0.5em;
    --emphasis-animation: linear(0 0%, 0 1.8%, 0.01 3.6%, 0.03 6.35%, 0.07 9.1%, 0.13 11.4%, 0.19 13.4%, 0.27 15%, 0.34 16.1%, 0.54 18.35%, 0.66 20.6%, 0.72 22.4%, 0.77 24.6%, 0.81 27.3%, 0.85 30.4%, 0.88 35.1%, 0.92 40.6%, 0.94 47.2%, 0.96 55%, 0.98 64%, 0.99 74.4%, 1 86.4%, 1 100%
    );

    @media (prefers-color-scheme: dark) {
        --body-colour: var(--dark-grey);
        --text-colour: white;
        --theme-colour: var(--deep-coral);
        --browser-theme-colour: var(--sunset-peach);
        --hover-colour: darkkhaki;
        --link-colour: skyblue;
        --shadow-colour: rgba(0, 0, 0, 0.8);
    }
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    letter-spacing: 0.5px;
}
html {
    scroll-behavior: smooth;
}
body {
    color: var(--text-colour);
    background-color: var(--body-colour);
    margin: 0px;
}
hr {
    border-radius: var(--box-radius);
    margin: 16px 0px 0px;
}
table {
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid gainsboro;
    border-radius: var(--box-radius);
    border-spacing: 0px;
    background-color: gainsboro;
}
table th, td {
    padding: 12px 20px;
    border: 2px solid gainsboro;
    background-color: var(--body-colour);
    text-align: center;
}

.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
#body {
    overflow: hidden;
    font-size: large;
    margin: 16px;
    line-height: 1.5em;
}
#body a, #front a {
    color: var(--link-colour);
    text-decoration: none;
}
#body a:hover, #front a:hover {
    text-decoration: underline;
}

.path {
    width: 320px;
    background-color: rgba(220, 220, 220, 0.5);
    margin: 0px 0px 0.83em calc(50% - 180px); /* calc(50% - (width/2 + 20px)) */
    text-align: center;
}
.borderContainer, .path {
    display: inline-block;
    border: 4px solid gainsboro;
    border-radius: var(--box-radius);
}
.container, .borderContainer, .path {
    overflow: hidden;
    height: max-content;
    padding: 16px;
}
.borderContainer > img, .container > img {
    display: block;
    height: 200px;
    border-left: 4px solid var(--theme-colour);
    border-bottom: 4px solid var(--theme-colour);
    border-radius: 12%;
    padding: 16px;
    margin: 0px 16px 16px 0px;
}
.textContainer {
    overflow: hidden;
    text-align: justify;
    margin: 0px 0px 0px 16px;
}
.serif {
    font-family: ui-serif, "Times New Roman", Times, serif;
}
.tableTopLeft {
    border-top-left-radius: var(--box-radius);
}
.tableTopRight {
    border-top-right-radius: var(--box-radius);
}
.tableBottomLeft {
    border-bottom-left-radius: var(--box-radius);
}
.tableBottomRight {
    border-bottom-right-radius: var(--box-radius);
}

/* @media (max-width: 1311px), (max-height: 449px) {
    html * {
        display: none;
    }
    html::after {
        content: "This Page is not Mobile-Friendly... Open this Page on a Desktop to view it.";
        font-size: large;
        text-align: center;
    }
} */
